Options -Indexes
RewriteEngine On

# If the requested file or directory does not exist, rewrite it to your PHP script
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /kapcco/
RewriteRule ^(.*)$ index.php [QSA,L]
